
header{
  height:300px;
  background-image: url(../image/hea.png);
  background-size:cover;
  background-position:center;
      }
     
.myself{
     color: blue;
     display: flex;
    flex-direction: row;
     background-color:black;
     justify-content: space-between;
     
} 
.skil{
    margin-left:100px;
    text-justify: auto;
}
.my-bg{
    margin-left: 100px;
}
.who{
    text-align: center;
}
   
 
h1{
    color:red;

}   
h2{
    color:green;
}

.fa-basketball-ball{
    color: brown;
}
.fa-guitar{
    color: crimson;

}
.intr{
    display: flex;
    flex-direction: row;
    
}
.exl p{
  margin-left:50px ;
}
.pj div{
    display: flex;
    flex-direction: row;
}
.pj img, p{
   margin-left:100px;
}
.pj{
    background-color:lightblue;
}
.wel{
    margin-left:300px;
    padding-top: 100px;
    color: blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }   
li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    margin-left: 200px;
  }
li {
   float: left; 
}
li a:hover{
    color:blue;
}